html, body {
    margin: 0;
    height: 100%;
}

.code-text {
    font-family: 'Roboto Mono', monospace;
}

.text-red {
    color: #e60d0d;
}

.header-navbar {
    z-index: 1000; /* always on top */
    top: 0;
    left: auto;
    right: 0;
    position: sticky;
}
